[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dearpygui = "*"
pytest = "*"
pysimplegui = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
basic_gui = "python basic_gui.py"
